  <nav class="navbar is-primary is-fixed-top navbar-custom">
      <div class="container h-100">
          <div class="navbar-logo">
              <%= link_to root_path, class: "navbar-logo"  do %>
                <%= image_tag "navlogo.png", class: "logo-img"%>
              <% end %>
          </div>

        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <% if user_signed_in? %>
                                <li><a href="<%= subscriptions_path %>">Dashboard</a></li>
                                <li><a href="<%= new_subscription_path %>">New Subscription</a></li>
                                <li><a href="<%= stats_subscriptions_path %>">Statistics</a></li>
                                <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
                            <% else %>
                                <li><%= link_to "Log in", new_user_session_path %></li>
                                <li><%= link_to "Sign up", new_user_registration_path %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </nav>
