<br>
<br>
<h1>Subscription Edit</h1>
<br>
  <%= simple_form_for @subscription do |f| %>
    <tr>
      <td>
        <%= f.input :company_name %>
        <%= f.input :description %>
      </td>
      <td>
        <%= f.input :url %>
        <%= f.input :recurrent %>
      </td>
      <td>
        <%= f.input :frequency %>
        <%= f.input :payment_date, html5:true %>
      </td>
      <td>
        <%= f.input :price %>
        <%= f.input :currency %>
      </td>
      <td>
        <%= f.input :category %>
        <%= f.button :submit, class: "custom-button" %>
        <br>
      </td>
    </tr>
    <br>
<% end %>
