<div class= "d-flex justify-content-center">
  <div class="my-4 p-4">
  <h1>Edit My Subscription</h1>
  <br>
    <%= simple_form_for @subscription do |f| %>
      <tr>
        <td>
          <%= f.input :photo, as: :file %>
          <%= f.input :company_name %>
          <%= f.input :description %>
        </td>
        <td>
          <%= f.input :url %>
          <%= f.input :recurrent %>
        </td>
        <td>
          <%= f.input :frequency, collection: Subscription::FREQUENCE %>
          <%= f.input :payment_date, html5:true %>
        </td>
        <td>
          <%= f.input :price %>
          <%= f.input :currency, collection: Subscription::CURRENCIES %>
        </td>
        <td>
          <%= f.input :category, collection: Subscription::CATEGORIES %>
          <%= f.button :submit, class: "btn btn-primary mt-2" %>
      <%= link_to "Back to Dashboard", subscriptions_path, class: "btn btn-outline-primary mt-2" %>
          <br>
        </td>
      </tr>
      <br>
  <% end %>
  </div>
</div>
