<div class= "d-flex justify-content-center">
  <div class="my-4 p-4">
  <h1>Subscription Edit</h1>
  <br>
    <%= simple_form_for @subscription do |f| %>
      <tr>
        <td>
          <%= f.input :company_name %>
          <%= f.input :description %>
        </td>
        <td>
          <%= f.input :url %>
          <%= f.input :recurrent %>
        </td>
        <td>
          <%= f.input :frequency %>
          <%= f.input :payment_date, html5:true %>
        </td>
        <td>
          <%= f.input :price %>
          <%= f.input :currency %>
        </td>
        <td>
          <%= f.input :category %>
          <%= f.button :submit, class: "btn btn-primary mt-2" %>
          <br>
        </td>
      </tr>
      <br>
      <%= link_to "Back to Dashboard", subscriptions_path, class: "btn btn-primary mt-2" %>
  <% end %>
  </div>
</div>
