<div class="container">
  <div class="row">
    <div class="col">
      <h3><%= link_to "New Subscription", new_subscription_path %></h3>
    </div>
    <div class="col">
      <h3><%= link_to "Statistics", stats_subscriptions_path %></h3>
    </div>
    <div class="col">

    </div>
  </div>
</div>

<h1>Dashboard</h1>
<br>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nombre de la empresa</th>
      <th>Descripción</th>
      <th>URL</th>
      <th>Recurrente</th>
      <th>Frecuencia</th>
      <th>Fecha de pago</th>
      <th>Precio</th>
      <th>Moneda</th>
      <th>Categoría</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= link_to subscription.company_name, subscription_path(subscription) %></td>
        <td><%= subscription.description %></td>
        <td><%= subscription.url %></td>
        <td><%= subscription.recurrent %></td>
        <td><%= subscription.frequency %></td>
        <td><%= subscription.payment_date %></td>
        <td><%= subscription.price %></td>
        <td><%= subscription.currency %></td>
        <td><%= subscription.category %></td>
        <td><%= button_to "Delete", subscription_path(subscription), method: :delete, data: { confirm: "Are you sure you want to delete this subscription?" }, class: "custom-button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
