<div class="my-4 p-4">
    <div class="background" style="background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(<%= image_path('background.jpg')%>); background-size: cover">
      <h1 id="dashcenter">Dashboard</h1>
              <section class="buttons mb-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="<%= subscriptions_path %>" method="get">
                        <div class="btn-group me-2 mb-0 pb-0 mt-2">
                          <input type="search" name="query" class="form-control form-control-light text-bg-light" placeholder="Search..." aria-label="Search">
                          <button type="submit" class="btn btn-outline-primary me-2">Search</button>
                        </div>
                      </form>

                <%= link_to "Add a new subscription", new_subscription_path, class: "btn btn-primary btn-md mt-2 fw-bold center-btn" %>
                  <div class="btn-toolbar mb-0 mb-md-0">
                    <div class="btn-group me-1 mb-0 pb-0 mt-2">
                      <%= link_to 'Export to XLSX', export_subscriptions_path(format: :xlsx), class: 'btn btn-sm btn-outline-primary' %>
                      <%= link_to 'Export to PDF', export_pdf_subscriptions_path(format: :pdf), class: 'btn btn-sm btn-outline-primary' %>
                    </div>
                  </div>
                </div>
                </section>


    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">Logo</th>
          <th class="text-center">Company name</th>
          <th class="text-center">Description</th>
          <th class="text-center">URL</th>
        <!-- <th>Frequency</th> -->
          <th class="text-center">Payment date</th>
          <th class="text-center">Price</th>
          <th class="text-center">Category</th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <% if subscription.photo.attached? %>

              <td class="text-center"><%= image_tag subscription.photo %></td>

            <% else %>
              <td class="text-center"><img src="<%= asset_path('Add Photo.png') %>"></td>
            <% end %>
            <td class="text-center"><%= link_to subscription.company_name, subscription_path(subscription), class: "text-decoration-none" %></td>
            <td class="text-center"><%= subscription.description.capitalize %></td>
            <td class="text-center"><a href="<%= subscription.url %>"><%= subscription.url %></a></td>
          <!-- <td><%= subscription.frequency %></td> -->
            <td class="text-center"><%= subscription.payment_date %></td>
            <td class="text-center"><%= number_to_currency(subscription.price) %></td>
            <td class="text-center"><%= subscription.category.capitalize %></td>

            <td class="text-center">

              <%= link_to edit_subscription_path(subscription), class: "btn btn-sm btn-outline-primary mr-1" do %>
              <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
            <%= link_to subscription_path(subscription), method: :delete, data: { confirm: "Are you sure you want to delete this subscription?" }, class: "btn btn-sm btn-primary" do %>
              <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
</div>
