<div class="max-w-lg mx-auto my-8 px-4">
  <div class="bg-white rounded-xl shadow-sm border border-slate-100 p-6">
    <h1 class="text-xl font-semibold text-slate-900 mb-6">Add New Subscription</h1>
    <%= simple_form_for @subscription do |f| %>
      <%= f.input :company_name %>
      <%= f.input :description %>
      <%= f.input :url %>
      <%= f.input :payment_date, html5: true %>
      <%= f.input :frequency, collection: Subscription::FREQUENCE %>
      <%= f.input :recurrent %>
      <%= f.input :price %>
      <%= f.input :currency, collection: Subscription::CURRENCIES %>
      <%= f.input :category, collection: Subscription::CATEGORIES %>
      <div class="flex items-center gap-3 mt-6">
        <%= f.button :submit, "Save subscription" %>
        <%= link_to "Cancel", subscriptions_path, class: "text-sm text-slate-500 hover:text-slate-700" %>
      </div>
    <% end %>
  </div>
</div>
