<div class="m-5 p-4 shadow bg-white"><h1  class="text-center">Add New Subscription</h1>
<%= simple_form_for @subscription do |f| %>
  <div>
    <div>
      <%= f.input :company_name, label_html: { class: 'fw-bold' } %>
      <%= f.input :description, label_html: { class: 'fw-bold' } %>
      <%= f.input :url, label_html: { class: 'fw-bold' } %>
    </div>
    <div>
      <%= f.input :payment_date, html5:true, label_html: { class: 'fw-bold' } %>
      <%= f.input :frequency, collection: Subscription::FREQUENCE, label_html: { class: 'fw-bold' } %>
      <%= f.input :recurrent, label_html: { class: 'fw-bold' } %>
      <%= f.input :price, label_html: { class: 'fw-bold' } %>
      <%= f.input :currency, collection: Subscription::CURRENCIES, label_html: { class: 'fw-bold' }  %>
    </div>
    <div>
      <%= f.input :category, collection: Subscription::CATEGORIES, label_html: { class: 'fw-bold' } %>
      <%= f.button :submit, class: "btn btn-primary btn-sm" %>
      <%= link_to "Back to Dashboard", subscriptions_path, class: "btn btn-sm btn-outline-primary" %>
    </div>
  </div>
<% end %>
</div>
