<div class="m-5 p-4 shadow bg-white"><h1  class="text-center">Add New Subscription</h1>
<%= simple_form_for @subscription do |f| %>
  <div>
    <div>
      <%= f.input :company_name %>
      <%= f.input :description %>
      <%= f.input :url %>
    </div>
    <div>
      <%= f.input :payment_date, html5:true %>
      <%= f.input :frequency, collection: Subscription::FREQUENCE %>
      <%= f.input :recurrent %>
      <%= f.input :price %>
      <%= f.input :currency, collection: Subscription::CURRENCIES  %>
    </div>
    <div>
      <%= f.input :category, collection: Subscription::CATEGORIES %>
      <%= f.button :submit, class: "btn btn-primary btn-sm" %>
      <%= link_to "Back to Dashboard", subscriptions_path, class: "btn btn-sm btn-outline-primary" %>
    </div>
  </div>
<% end %>
</div>
