<h1>Subscriptions#new</h1>
  <%= simple_form_for @subscription do |f| %>
    <tr>
      <td>
        <%= f.input :company_name %>
        <%= f.input :description %>
      </td>
      <td>
        <%= f.input :url %>
        <%= f.input :recurrent %>
      </td>
      <td>
        <%= f.input :frequency, collection: Subscription::FREQUENCE %>
        <%= f.input :payment_date, html5:true %>
      </td>
      <td>
        <%= f.input :price %>
                <%= f.input :currency, collection: Subscription::CURRENCIES  %>

      </td>
      <td>
        <%= f.input :category, collection: Subscription::CATEGORIES %>
        <%= f.button :submit %>
      </td>
    </tr>
<% end %>
