<div class="container text-center">
  <div class="my-4 p-4">
    <div class="card mx-auto" style="width: 18rem;">
        <% if @subscription.photo.attached? %>
      <h1><%= image_tag @subscription.photo %></h1>
        <% else %>
          <td><img src="<%= asset_path('Add Photo.png') %>"></td>
        <% end %>
      <h1><%= @subscription.company_name %></h1>
        <div class="shadow card-body">
          <!--<p> <%= @subscription.company_name %></p>-->
          <p><%= @subscription.description %></p>
          <p> <%= @subscription.url %></p>
          <!--<p> <%= @subscription.recurrent %></p> -->
          <p> <%= @subscription.frequency %></p>
          <p> <%= @subscription.payment_date %></p>
          <p><%= number_to_currency(@subscription.price) %> <%= @subscription.currency.upcase %></p>
          <p></p>
          <p><%= @subscription.category.capitalize %></p>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 gap-md-3 d-md-block">
    <%= link_to "Edit", edit_subscription_path, class: "btn btn-primary" %>
    <%= button_to "Delete", subscription_path(@subscription), method: :delete, data: { confirm: "Are you sure you want to delete this subscription?" }, class: "btn btn-primary mt-2" %>
    <%= link_to "Back to Dashboard", subscriptions_path, class: "btn btn-primary mt-2" %>
  </div>
</div>

