<div class="container text-center">
  <div class="my-4 p-4">
    <h1>Subscription details</h1>
    <div class="card mx-auto" style="width: 18rem">
      <div class="card-body">
        <p>Company: <%= @subscription.company_name %></p>
        <p>Description: <%= @subscription.description %></p>
        <p>URL: <%= @subscription.url %></p>
        <p>Recurrent? : <%= @subscription.recurrent %></p>
        <p>Frequency: <%= @subscription.frequency %></p>
        <p>Payment date: <%= @subscription.payment_date %></p>
        <p>Cost: <%= number_to_currency(@subscription.price) %></p>
        <p>Currency: <%= @subscription.currency %></p>
        <p>Category: <%= @subscription.category %></p>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 gap-md-3 d-md-block">
    <%= link_to "Edit", edit_subscription_path, class: "btn btn-primary" %>
    <%= button_to "Delete", subscription_path(@subscription), method: :delete, data: { confirm: "Are you sure you want to delete this subscription?" }, class: "btn btn-primary mt-2" %>
    <%= link_to "Back to Dashboard", subscriptions_path, class: "btn btn-primary mt-2" %>
  </div>
</div>
